.music_wrapper {
    height: auto;
    width: auto;
   margin: 5rem;
}

.music_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    margin-bottom: 2px;
    border-radius: 5px;
}

.music_image img{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    background-color: #fff;
}

li {
    list-style: none;
}

.audio_controls{
    border-radius: none;
    border: none;
}

.music_button {
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-right: 7px;
    cursor: pointer;
}

.btn {
    display: flex;
}

h1 {
    text-align: center;
}