.nav {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: #fff;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(231, 231, 231, 0.23);
}

.logo {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin-left: 1rem;
}

.links {
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
    margin-left: 1rem;
}

.lists {
    list-style: none;
}

.hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    color: #fff;

    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }
  
  .hamburger:hover {
    background-color: #2642af;
  }

  .navigation_menu {
    margin-left: auto;
  }

  @media screen and (max-width: 768px) {
    .navigation-menu ul {
      display: none;
    }

    .hamburger {
      display: block;
    }

    .navigation-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #fff;
      z-index: 1;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
    }

    .nav_links {
        display: none;
    }
  }

  @media screen and (min-width: 768px) {
    .nav_links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }
  }
