.player_img {
    height: 4rem;
}

.player_title, 
.player_artist {
    color: #fff;
}

.play_icon {
    color: aquamarine;
    cursor: pointer;
    font-size: 2rem;
  }

@media screen and (max-width: 768px) {
    .player_card {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }
    
    .player_img {
        display: none;
    }
    
    .player_title, 
    .player_artist {
        display: none;
    }

    .play_icon {
        color: aquamarine;
        cursor: pointer;
        font-size: 1rem;
      }
}